<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

        <h1 class="title is-4"> New Kitten </h1>

        <%= render "form" %>
        <br />
        <%= link_to "Back to all kittens", kittens_path(@kittens), class: "button is-primary" %>

      <div>
    </div>
  </div>
</div>
